ul{
	background-color:Gray;
	width: auto;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;	
}
li{
	display: inline;
	font-size:x-large;
	
}
li a{
	padding: 2%;
    color: White;
    text-decoration:none; 
}
a:link{
	background-color: Gray;
}
a:hover{
	background-color: Black;

}