table,th, td {
  padding: 15px;
  text-align: left;
  table-layout: auto;
  width:50%;
  height: 50%;
  border-collapse: collapse;
  border: 1px solid black
}
td{
	color: green;
	font-weight: lighter;
}